<div class="rw-report-content">
	<div class="btn-group" style="float: right;">
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
				Columns
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation" class="dropdown-header">Vertical Pivots</li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
				
				<li role="presentation" class="divider"></li>
				<li role="presentation" class="dropdown-header">Horizontal Pivots</li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
				
				<li role="presentation" class="divider"></li>
				<li role="presentation" class="dropdown-header">Values</li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
			</ul>
		</div>
	</div>
	<div class="rw-report-slick" style="width: 100%; height: 400px">
		World
	</div>
</div>
